.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  background-color: #b5651d;
}

.board-cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 0px;
  display: flex;
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  background-color: darkgreen;
}

.black-stone {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
}

.white-stone {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
}

.valid-move {
  width: 40px;
  height: 40px;
  background-color: green;
  border: 1px solid black;
  margin: 0px;
  display: flex;
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
}

.corner-index-cell {
  width: 12px;
  height: 12px;
}
.col-index-cell {
  width: 40px;
  height: 12px;
  border: 1px solid black;
  background-color: black;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.row-index-cell {
  width: 12px;
  height: 40px;
  border: 1px solid black;
  background-color: black;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.board-container {
  margin-right: 20px;
}

.score-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

